mlruns/
.venv/
__pycache__/
figures/
.DS_Store
trained_models/
.envs/
neuromancer/
.vscode/
junitReport.xml
data_copy/
*.coverage
*.xml
pylint_output.txt
*.db
mlartifacts/
results/
.pytest_cache/
AGENTS.md
archived/
scripts/
